## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
import gmaps.datasets

# Import API key
from config_d import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [43]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Mount Isa,AU,73.17,clear sky,-20.7333,139.5000,ibis Styles Mt Isa Verona
1,1,Hurghada,EG,73.44,clear sky,27.2574,33.8129,Sea Star Beau Rivage Hotel
2,2,Butaritari,KI,81.36,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
3,3,Praya,CV,70.34,clear sky,14.9215,-23.5087,LT Aparthotel
4,4,Kilindoni,TZ,79.50,light rain,-7.9139,39.6668,Bustani B&B
5,5,Sola,VU,81.86,few clouds,-13.8833,167.5500,Leumerus Bungalows
6,6,Kloulklubed,PW,82.90,broken clouds,7.0419,134.2556,Storyboard Beach Resort
7,7,Carutapera,BR,75.36,broken clouds,-1.1950,-46.0200,Lidera
8,8,Kulachi,PK,81.39,clear sky,31.9286,70.4592,Technical Zafran Mobile Zon kulachi
9,9,Vaini,TO,78.96,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort

In [44]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [45]:
# 4a. Add a marker layer for each city to the map.
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(markers)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Hattiesburg"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Hattiesburg"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Russell"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Rincon"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Valdosta"]

In [49]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [50]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
us_trip = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(us_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
south_trip = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
south_trip

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,223,Hattiesburg,US,77.29,clear sky,31.3271,-89.2903,Quality Inn & Suites
1,23,Russell,US,78.40,clear sky,32.3502,-85.1999,Macs
2,224,Rincon,US,75.16,clear sky,32.2960,-81.2354,Days Inn Rincon
3,80,Valdosta,US,75.15,clear sky,30.8327,-83.2785,Courtyard by Marriott Valdosta

In [66]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
stops_info = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
city_info = [stops_info.format(**row) for index, row in south_trip.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = south_trip[["Lat", "Lng"]]

In [67]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
itinerary_layer = gmaps.marker_layer(locations, info_box_content=city_info)
fig.add_layer(itinerary_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))